
{{# if button}}
    <span class="button {{className}} icon-{{button.icon}}" title="{{button.title}}"></span>
{{/if}}

<a href="{{url}}">
    {{# if icon }}
        <i class="icon-{{icon}}"></i>
    {{/if}}
    {{name}}
</a>
